/* Ceci est un commentaire */
body {
    background-color: rgba(246, 228, 197, 0.722);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

header ul a {
    background-color: lightblue;
    border: 1px solid grey;
    padding: 1rem 2rem;
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 5rem;
}

img {
    max-width: 100%;
}

img.medium-size {
    width: 20%;
    display: block;
}